
*.pyc
src/*.c
build/
dist/

metAMOS.egg-info/
phylosift/
AMOS/
FastQC/
KronaTools/

Utilities/DB/allprots.faa
Utilities/DB/blast_data/
Utilities/DB/refseq_protein.00.phr
Utilities/DB/refseq_protein.00.tar.gz
Utilities/DB/refseq_protein.pal
Utilities/DB/uniprot_hypothetical_set
Utilities/DB/uniprot_sprot.dat
Utilities/DB/uniprot_sprot.fasta
Utilities/DB/uniprot_sprot.fasta.phr
Utilities/DB/uniprot_sprot.fasta.pin
Utilities/DB/uniprot_sprot.fasta.psd
Utilities/DB/uniprot_sprot.fasta.psi
Utilities/DB/uniprot_sprot.fasta.psq
Utilities/DB/uniprot_sprot_enz_set
Utilities/DB/uniprot_sprot_enz_set.putative
Utilities/DB/uniprot_sprot_non_enz_set
Utilities/DB/uniprot_sprot_non_enz_set.putative
Utilities/config/usage.ok
Utilities/cpp/Linux-x86_64/metaphylerClassify
Utilities/models/
Utilities/perl/metaphyler/
Utilities/python/lib/
Utilities/python/psutil/
Utilities/python/pysam/


runPipeline
initPipeline
allfiles.txt
ec.krona.html
formatdb.log
ftp.out
matplotlib.tar.gz
metaphyler.tar.gz
